* {
  margin: 0;
  padding: 0;
}
body {
  margin: 5px 0 0 5px;
}
.flag {
  height: 450px;
  width: 800px;
  background-color: rgba(148, 8, 8, 0.964);
}
.blue {
  height: 200px;
  width: 800px;
  background-color: darkblue;
  margin-top: 50px;
  position: relative;
}
.circle {
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 330px;
}
p {
  text-align: center;
  color: white;
  font-size: 4rem;
}
.country {
  text-align: center;
  color: black;
  font-size: 3.8rem;
}
